**Python is a popular programming language**

In [ ]:
print("Hello, World!")

Hello, World!

**Installation of Python -> Pycharm, Anaconda, use google colab**

**Statement and Comments**

In [ ]:
# Declared using paraenthesis ()
# Example

x = (1+2+3+
     5+3+4+
     4)
print(x)
# [] & {} also same

22

In [ ]:
# Declared using semocolon (;)
# Example

a = 2; x = 4; z = 1
print(a,x,z)

2 4 1

1. Comments can be used to explain the code
2. Comments can be used to make the code more readable
3. Comments can be used to prevent execution of code

In [ ]:
print("Hello, Sanjivani!") #This is comment

Hello, Sanjivani!

In [ ]:
#this is comment
#multi-line comment
#more than just one line
print("Hello, World")

Hello, World

In [ ]:
"""
this is a comment
more than just one line
sanjivani
"""
print("Sanjivani SCOE")

Sanjivani SCOE

**DocsStrings in python**

In [ ]:
def double(num):
  """function to double the value"""
  return 2*num
  #print(double.__doc__)
  print(double(2))

**Indentation**

In [ ]:
#python will give you an error if you skip the indentation
if 5>2:
print("Five is greater than two")

IndentationError: ignored

In [ ]:
if 5>2:
  print("five is greater tha two")

five is greater tha two

**Variables**
variables are containers for storing dta values

In [ ]:
x = 3
y = "Ram"
print(x)
print(y)

3
Ram

variables do not need to declared with any particular type, and also change type after they have been set.

In [ ]:
x = 5 # x is of type int
x = "Sham" # x is now of type str
print(x)

Sham

Variables Names

Multi words variable names

In [ ]:
# Camel Case

myVariableName = "Sanjivani"

In [ ]:
# Pascal Case

MyVariableName = "SCOE"

In [ ]:
# Snake Case

my_variable_name = "SCOE"

Many Values to Multiple Variables

In [ ]:
x,y,z = "Abhay","Bhavesh","Siddhant"
print(x)
print(y)
print(z)

Abhay
Bhavesh
Siddhant

One Value to Multiple Variable

In [ ]:
x = y = z = "SCOE"
print(x)
print(y)
print(z)

SCOE
SCOE
SCOE

UnPack a Collection

In [ ]:
name = ["Abhay", "Bhavesh", "Siddhant"]
x,y,z = name
print(x)
print(y)
print(z)

Abhay
Bhavesh
Siddhant

Output Variable

In [ ]:
x = "COE"
print("Sanjivani" + x)

SanjivaniCOE

Global Variables

Variables that are created outside of a function are called as a Global Variables.

Global variables can be used by everyone, both inside of functions and outside

In [ ]:
x = "COE"

def myfunc():
  print("Sanjivani" + x)

myfunc()

SanjivaniCOE

If you create a variable with the same name inside the a function, this variable will be local, and can only be used inside the function.

In [ ]:
x = "COE"

def myfunc():
  x = "College"
  print("Sanjivani" + x)

myfunc()

print("Sanjivani" + x)

SanjivaniCollege
SanjivaniCOE

When you create a variable inside the function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the "global" keyword.

In [ ]:
def myfunc():
  global x
  x = "COE"

myfunc()

print("Sanjivani" + x)

SanjivaniCOE

**Data Types**

Text type: str

Numeric types: int,float,complex

Sequence types: list,tuple,range

Mapping types: dict

Set types: set,frozenset

Boolean type: bool

Binary types: bytes,bytearray,memoryview

In [ ]:
x= "hello world"
print(type(x))

<class 'str'>

In [ ]:
x = 20
print(type(x))

<class 'int'>

In [ ]:
x = 45.5
print(type(x))

<class 'float'>

In [ ]:
x= 2j
print(type(x))

<class 'complex'>

In [ ]:
x = ["Abhay","Bhavesh","Siddhant"]
print(type(x))

<class 'list'>

In [ ]:
x = ("Abhay","Bhavesh","Siddhant")
print(type(x))

<class 'tuple'>

In [ ]:
x = {"name" : "Bhavesh" , "age" : 21}
print(type(x))

<class 'dict'>

In [ ]:
x = {"Abhay","Bhavesh"}
print(type(x))

<class 'set'>

In [ ]:
x = range(6)
print(type(x))

<class 'range'>

In [ ]:
x = frozenset(("apple", "banana", "cherry"))
print(type(x))

<class 'frozenset'>

In [ ]:
x = bool(2)
print(type(x))

<class 'bool'>

In [ ]:
x= bytes(2)
print(type(x))

<class 'bytes'>

In [ ]:
x= bytearray(3)
print(type(x))

<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

**Type Casting**

In [2]:
# using ord(),hex(),oct()
# initializing string
a = "4354"
print(type(a))

<class 'str'>

In [3]:
# converting str into int
z = int(a)
print(type(z))

<class 'int'>

In [4]:
# converting str into float
x = float(a)
print(type(x))

<class 'float'>

In [7]:
# using ord(),hex(),oct()
# initializing
a = "5"
print(type(a))

<class 'str'>

ord() expected a character, but string of length

In [8]:
# str converting to int
z = ord(a)
print(type(z))

<class 'int'>

In [9]:
# int converting to hexadecimal string
c =   hex(42)
print(c)
print(type(c))

0x2a
<class 'str'>

In [10]:
# int converting to octal string
a = oct(23)
print(a)
print(type(a))

0o27
<class 'str'>

In [11]:
# int converting to chhar string
a = chr(45)
print(a)
print(type(a))

-
<class 'str'>

In [12]:
# using tuple(),set(),list()

# initializing string

a = "Sanjivani"
print(type(a))

<class 'str'>

In [13]:
# string converting to tuple
c = tuple(a)
print(c)
print(type(c))

('S', 'a', 'n', 'j', 'i', 'v', 'a', 'n', 'i')
<class 'tuple'>

In [14]:
# string converting to set
x = set(a)
print(x)
print(type(x))

{'n', 'v', 'S', 'a', 'i', 'j'}
<class 'set'>

In [15]:
# string converting to list
z = list(a)
print(z)
print(type(z))

['S', 'a', 'n', 'j', 'i', 'v', 'a', 'n', 'i']
<class 'list'>

**Slicing**

In [17]:
w = "Sanjivani"
print(w)

Sanjivani

In [18]:
# print whole string
print(w)

Sanjivani

In [20]:
# starting from 3rd char till the end
print(w[2:])

njivani

In [22]:
# print the first char
print(w[0])

S

In [24]:
# start from second last till the first
print(w[:-1])

Sanjivan

In [26]:
# start 3rd till thris last
print(w[2:-2])

njiva

In [27]:
print(w * 2)

SanjivaniSanjivani

In [28]:
print(w + " " + "COE")

Sanjivani COE