**Arithmetic Operators**

In [1]:
#Addition(+)
x = 2
y = 5
a = x+y
print(a)

7

In [23]:
#Subtraction(-)
x = 6
y = 2
z = x - y
print(z)

4

In [3]:
#Multiplication(*)
x = 4
y = 2
z = x*y
print(z)

8

In [4]:
#Division(/)
x = 4
y = 6
z = x/y
print(z)

0.6666666666666666

In [5]:
#Modulus(%)
x = 4
y = 6
z = x%y
print(z)

4

In [6]:
#Exponentiation(**)
x = 2
y = 2
z = x ** y
print(z)

4

In [7]:
#Floor Division(//)
x = 14
y = 5
z = x // y
print(z)

2

**Assignment Operators**

In [8]:
#=
x = 6
print(x)

6

In [9]:
#+=
x = 2
x += 3
print(x)

5

In [10]:
#-=
x = 5
x -= 2
print(x)

3

In [11]:
#*=
x = 2
x *= 2
print(x)

4

In [12]:
#/=
x = 6
x /= 2
print(x)

3.0

In [13]:
#%=
x = 5
x %= 2
print(x)

1

In [14]:
#//=
x = 5
x //= 2
print(x)

2

In [15]:
#**=
z = 3
z **=2
print(z)

9

In [16]:
#&= Performs Bitwise AND on operands and assign value to left operand
z = 4
z &= 5
print(z)

4

In [17]:
#|= Performs Bitwise OR on operands and assign value to left operand
#^= Performs Bitwise xOR on operands and assign value to left operand
#>>= Performs Bitwise right shift on operands and assign value to left operand
#<<= Performs Bitwise left shift on operands and assign value to left operand
z = 10

z |= 2
print(z)

z ^= 2
print(z)

z >>= 3
print(z)

z <<= 4
print(z)

10
8
1
16

**Identity Operators**

In [19]:
#is  :True if the operands are identical 
#is not :True if the operands are not identical


a = 10
b = 20
c = a

print(a is not b)
print(a is c)
print(a is b)

True
True
False

**Membership Operators**

In [22]:
#in :True if value is found in the sequence
#not in :True if value is not found in the sequence

x = 24
y = 20
list = [10, 20, 30, 40, 50]

print(x in list)
print(y in list)
print(x not in list)

False
True
True

**Bitwise Operators**

In [24]:
a = 15
b = 10

# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)

a = 5
b = 10

# print bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a >> 1 = 7
b >> 1 = 5
a << 1 = 10
b << 1 = 20